.page {
  font-family: var(--page-font-family, "IBM Plex mono", monospace);
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color, #f1b2ce);
  background-color: var(--page-background-color, #000028);
  background-image: var(--page-background-image, url("../images/cover-image.png"));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.page-title {
  color: var(--brand-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  margin: 0;
  justify-self: start;
  width: 100%;
  box-sizing: border-box;
}

.shadow-decor {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.cover {
  display: grid;
  min-height: 668px;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-right: 1px solid var(--secondary-color, #ff0070);
  border-top: 1px solid var(--secondary-color, #ff0070);
  right: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  top: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::after {
  border-left: 1px solid var(--secondary-color, #ff0070);
  border-bottom: 1px solid var(--secondary-color, #ff0070);
  left: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  bottom: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.text-link {
  text-decoration: none;
  position: relative;
}

.text-link:hover {
  border-bottom: 1px solid currentColor;
}

.text-link:focus {
  outline: none;
  border: 1px solid currentColor;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.rec-decor {
  position: absolute;
  top: 10px;
  right: 19px;
  color: var(--accent-color, #ff0070);
  z-index: -1;
  display: inline-flex;
  visibility: var(--rec-decor-visibility, visible);
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.rec-decor::before {
  content: "";
  color: var(--accent-color, #ff0070);
  line-height: 24px;
}

.rec-decor::after {
  content: "";
  display: inline-block;
  background-color: var(--accent-color);
  box-shadow: 0 0 2px 2px var(--accent-color);
  border-radius: 50%;
  width: 9px;
  height: 9px;
}

.section-title {
  color: var(--secondary-color, #ff0070);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
}

.section-title_decorated {
  color: var(--highlight-color, #000028);
  background: var(--accent-color, #ff0070);
}

.content-section {
  display: grid;
  gap: 20px;
}

.content-section_gallery {
  gap: 10px;
}

.articles-list {
  display: grid;
  gap: 20px;
}

.articles-list_wide {
  grid-template-columns: 1fr;
}

.article-card {
  display: grid;
  gap: 10px;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.header {
  align-items: start;
  padding-left: 10px;
  height: 100vh;
}

.header__theme-menu {
  justify-self: end;
  margin: 65px 0;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 12px;
  color: var(--secondary-color, #ff0070);
  line-height: 18px;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--secondary-color-o-40, #ff007040);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-bottom-color: currentColor;
}

.header__title {
  margin: 55px 0;
  color: var(--highlight-color, #000028);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  background: var(--accent-color, #ff0070);
}

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-title {
  color: var(--brand-color, #db00ff);
  place-items: center;
  justify-content: center;
  font-size: clamp(116px, 103px + 3.47vw, 157px);
  line-height: 83%;
  text-shadow: 2px 2px 0px var(--color-purple-2, #ff0070);
}

.advice-article__title {
  margin-bottom: 20px;
  font-weight: 700;
}

.advice-article__list {
  grid-column-start: 2;
}

.article-title {
  color: var(--highlight-color, #000028);
  background: var(--accent-color, #ff0070);
  font-weight: 400;
  font-size: inherit;
}

@media (width >= 768px) {
  .cover.header {
    padding-left: 3px;
  }
  .rec-decor {
    top: 20px;
    right: 29px;
  }
  .page-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .content-section {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }
  .content-section_what .articles-list {
    grid-column: span 2;
  }
  .content-section_gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .gallery__item:first-child,
  .gallery__item:last-child {
    grid-column: span 2;
  }
  .gallery__item:nth-child(2),
  .gallery__item:nth-child(3) {
    grid-row: span 2;
  }
  .header__theme-menu {
    margin-top: 170px;
    margin-bottom: 70px;
  }
  .header__title {
    justify-self: end;
    width: clamp(364px, calc(100% / 2 - 10px), 491px);
  }
  .main {
    gap: 80px;
    padding: 60px 20px;
  }
}

@media (width >= 1024px) {
  .page-title {
    text-shadow: 4px 4px 0 var(--color-purple-2, #ff0070);
  }
  .rec-decor {
    top: 20px;
    right: 29px;
  }
  .header__theme-menu {
    justify-self: center;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 215px;
  }
  .header__theme-menu-list {
    flex-direction: row;
  }
  .article-title_decorated {
    display: inline-block;
    height: fit-content;
    width: 100%;
    align-self: flex-start;
  }
  .content-section {
    column-gap: 32px;
  }
  .article-card {
    display: flex;
    flex-direction: column;
  }
  .articles-title {
    grid-row: 1;
  }
  .content-section_what .articles-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-title {
    font-size: clamp(9.8125rem, 9.8125rem + 0vw, 9.8125rem);
  }
}