:root {
  --text-color: #f1b2ce;
  --page-background-color: #000028;
  --accent-color: #ff0070;
  --brand-color: #db00ff;
  --secondary-color: #ff0070;
  --highlight-color: #000028;
  --page-font-family: "IBM Plex mono", monospace;
  --rec-decor-visibility: visible;
}